* {
  box-sizing: border-box;
  /*outline: 1px dotted red;*/
}

body {
  margin: 0;
  background-color: #141414;
}

#topRow {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.navCombined {
  align-content: center;
  align-items: center;
  display: inline-flex;
}

.mainName {
  font-family: arial, sans-serif;
  font-size: 35px;
  color: #E50815;
  text-decoration: none;
  margin: 10px 25px 10px 60px;
}

.navBar {
  display: inline-flex;
  align-items: center;
  margin-top: 10px 0px;
}

.nav {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #E5E5E5;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 0px;
}

#form {
  margin: 10px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  padding: 10px;
}

#query {
  background-color: #141414;
  outline: 1px solid white;
}

::placeholder { /* Most modern browsers support this now. */
  color: #E5E5E5;
}

.poster {
  height: 120px;
  width: 215px;
}

.movieContainer {
  margin: 3px;
  float: left;
}

#displayMovies {
  margin: 20px 60px;
  overflow-x: scroll;
  min-width: 1300px;
}
